{% extends 'base.html.twig' %}

{% block title %}Fabricants index{% endblock %}

{% block body %}
    <h1 class="text-center">Nos marques</h1>
    <div class="container mt-4 mb-4">
        <div class="row">
            {% for f in fabricants %}
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;padding:5px 20px 0 20px;">
                        {% if f.logo != "" %}
                        <img class="card-img-top" src="/uploads/fabricant/{{ f.logo }}" height="200" width="100" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('fabricants_show', {id: f.id}) }}">{{ f.libelle }}</a></h5>
                            <p class="card-text">
                                {% if app.user is not null and app.user.type > 1 %}
                                <a class="btn btn-success btn-block" href="{{ path('fabricants_edit',{id: f.id}) }}">Modifier</a>
                                <form method="post" action="{{ path('fabricants_delete', {'id': f.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet item?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ f.id) }}">
                                    <button class="btn btn-danger btn-block">Supprimer</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <a class="btn btn-success btn-block btn-lg" href="{{ path('fabricants_new') }}">Ajouter un fabricant</a>
    </div>

{% endblock %}
