{% extends 'base.html.twig' %}

{% block title %}Fabricants index{% endblock %}
{% block body %}
    <h1 class="text-center">Nos marques</h1>
    <div class="container mt-4 mb-4">
        <div class="row">
            {% for f in fabricants %}
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;padding:5px 20px 0 20px;">
                        {% if f.logo != "" %}
                        <img class="card-img-top" src="/kelloggs/public/uploads/fabricant/{{ f.logo }}" height="200" width="100" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('fabricants_show', {id: f.id}) }}">{{ f.libelle }}</a></h5>
                            <p class="card-text">
                                {% if app.user is not null and app.user.type > 1 %}
                                <a class="btn btn-success btn-block" href="{{ path('fabricants_edit',{id: f.id}) }}">Modifier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if app.user is not null and app.user.type > 1 %}
        <a class="btn btn-success btn-block btn-lg" href="{{ path('fabricants_new') }}">Ajouter un fabricant</a>
        {% endif %}
    </div>

{% endblock %}
