{% extends 'base.html.twig' %}

{% block title %}Fabricants {% endblock %}

{% block body %}
    <h1 class="text-center">Article de la marque</h1>
    <div class="container mt-4 mb-4">
        <div class="row">
            {% for f in articles %}
                <div class="col-md-4">
                    <div class="card mb-3" style="width: 18rem;padding:5px 20px 0 20px;">
                        <div class="card-body">
                            <img class="card-img-top" src="/uploads/article/{{ f.urlMedia }}" height="200" width="100" alt="Card image cap">
                            <h5 class="card-title">{{ f.libelle }}</h5>
                            <p class="card-text">
                                {% if app.user is not null and app.user.type > 1 %}
                                <a class="btn btn-success btn-block" href="{{ path('articles_edit',{id: f.id}) }}">Modifier</a>
                            <form method="post" action="{{ path('fabricants_delete', {'id': f.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ f.id) }}">
                                <button class="btn btn-danger btn-block">Supprimer</button>
                            </form>
                            {% elseif app.user is not null %}
                                <form method="post" action="{{ path('addpanier') }}">
                                    <input type="hidden" name="id" value="{{ f.id }}">
                                    <input type="submit" class="btn btn-success" name="add" value="Ajouter au panier">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if app.user is not null and app.user.type > 1 %}
        <a class="btn btn-success btn-block btn-lg" href="{{ path('articles_new') }}">Ajouter un article</a>
        {% endif %}
    </div>

{% endblock %}
