{% extends 'base.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{% block body %}
    <h2 class="text-center">Modifier l'article</h2>
<div class="container">
    {{ form_start(form) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.fabricant) }}
    {{ form_row(form.disponibilite) }}
    {{ form_row(form.calories) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.urlMedia) }}
    <input type="submit" class="btn btn-success mb-3 btn-block">
    {{ form_end(form) }}

    <div class="row form-group m-0">

        <a class="btn btn-success mr-1" href="{{ path('fabricants_show',{id:article.fabricant.id}) }}">retour à la liste</a>

    </div>
{% endblock %}